
<!DOCTYPE html>
<html>
<head>
<style>
.main {
  padding: 10px 14px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.main .addresse {
box-shadow: 0 2px 3px 0  rgba(65, 64, 64, 0.2);
   border-radius: 3px;
   border-width:1px;
   display: table-cell;
    height: 1%;
}
.para {
  box-shadow: 0 2px 3px 0  rgba(65, 64, 64, 0.2);
   width: 430px;
   height: 85%;
   border-radius: 3px;
    padding: 2px 3px;
}
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.2s;
      width: 130px;
      height: 83px;
      padding: 2px 3px;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 1px 1px;
      margin:0 0;
      
    }
    .container > h4 > span {
      font-family:  "courier", Verdana MS-SanSerif;
      font-size: 13px;
      font-weight:bold;
    } 
</style>


</head

<body>
<div class="main">
   <div>
      <span class="addresse">  <h4><b>Hello Karan, </b></h4> </span>
      <br/> 
	   <div class="para">
       <p>
          <b>Name: </b> <%= requesterName %><br/>
          <b>Official Email: </b><%= recepientOfcEmail  %> <br/>
           <b>Personal Email: </b> <%=  recepientPersonEmail  %> <br/>
       

        <p> 
           As per our discussion past 6 months, and the current COVID situation.
          <!-- Can you ensure: 
           <ul> 
             <li> In case of Job loss or unable to get/perform job(customer as in me) would be 
                  provided employment at our investments company 
             </li> 
           </ul>
           -->
        </p>
        <p> Look forward to your response and affirmation,  
             Attached is the Job Profile and other documents.
         </p>
		 </div>
		
   </div>
   
   <div class="card">
     <div class="container">
          <h4><%= requesterName %> <img src="/images/img_avatar.png" alt="Avatar" style="width:10%">
          <span><%= requesterDesig %></span> 
          </h4> 
     </div>
   
  </div>
</div>
</body>
</html>
         